<nav class="navbar bg-primary navbar-expand-lg"
     data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand"
           href="{{ path('home') }}">Recipy</a>
        <div class="collapse navbar-collapse d-flex justify-content-between align-items-center">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link {{ app.current_route is same as 'home' ? 'active' : '' }}"
                       href="{{ path('home') }}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ app.current_route starts with 'recipe.' ? 'active' : '' }}"
                       href="{{ path('recipe.index') }}">Recipes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ app.current_route starts with 'contact.' ? 'active' : '' }}"
                       href="{{ path('contact.create') }}">Contact</a>
                </li>
            </ul>
            <div class="d-flex align-items-center gap-2">
                {% if app.user %}
                    <p class="m-0 text-white fw-bold">{{ app.user.username }}</p>
                {% endif %}
                <ul class="navbar-nav">
                    <li class="nav-item position-relative profile-list-item">
                        <input type="checkbox"
                               id="profile-toggle">
                        <label for="profile-toggle"
                               class="profile"></label>
                        <div class="drawer">
                            <ul>
                                {% if app.user %}
                                    <li><a class="link-offset-2 link-offset-3-hover"
                                           href="#">Profile</a></li>
                                    <li><a class="link-offset-2 link-offset-3-hover"
                                           href="#">Settings</a></li>
                                    <li><a class="link-offset-2 link-offset-3-hover"
                                           href="{{ path('auth.logout') }}">Logout</a></li>
                                {% else %}
                                    <li><a class="link-offset-2 link-offset-3-hover"
                                           href="{{ path('auth.register') }}">Register</a></li>
                                    <li><a class="link-offset-2 link-offset-3-hover"
                                           href="{{ path('auth.login') }}">Log in</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>