{% extends 'base.html.twig' %}

{% block title %}Confirm deletion of : {{ recipe.title | capitalize }} | Recipy{% endblock %}

{% block body %}
    <h2>Delete {{ recipe.title | capitalize }} ?</h2>
    <p>Are you sure you want to delete the recipe : {{ recipe.title }} ?</p>
    <p>This action is irreversible.</p>
    <div class="d-flex gap-4">
        <a class="btn btn-primary"
           href="{{ path('recipe.index') }}">Cancel</a>
        <form
                action="{{ path('recipe.delete', {username: recipe.user.username, slug: recipe.slug}) }}"
                method="POST">
            <input type="hidden"
                   name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >
            <input type="hidden"
                   name="_method"
                   value="DELETE">
            <button class="btn btn-outline-danger"
                    type="submit">Delete
            </button>
        </form>
    </div>
{% endblock %}