{% extends 'base.html.twig' %}

{% block title %}All recipes | Recipy{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between align-items-center">
        <p>
            All recipes (more than {{ (totalDuration / 60) | round(0, 'floor') }} hours!)
        </p>
        {% if is_granted('IS_AUTHENTICATED') %}
            <a class="btn btn-primary"
               href="{{ path('recipe.create') }}">Add a recipe</a>
        {% endif %}
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Duration (minutes)</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for recipe in recipes %}
            <tr>
                <td class="align-middle">
                    <a class="d-block text-black link-offset-2 link-offset-3-hover link-underline-dark link-underline-opacity-0 link-underline-opacity-75-hover"
                       href="{{ path('recipe.show', {id: recipe.id, slug: recipe.slug}) }}">{{ recipe.title }}</a>
                </td>
                <td class="align-middle">
                    <p class="{{ recipe.duration ? '' : 'opacity-50' }} mb-0">{{ recipe.duration ?? 'N.A' }}</p>
                </td>
                <td class="d-flex gap-2 align-items-center align-middle">
                    <a class="btn btn-outline-primary"
                       href="{{ path('recipe.show', {id: recipe.id, slug: recipe.slug}) }}">View</a>
                    {% if is_granted('IS_AUTHENTICATED') %}
                        <a class="btn btn-outline-primary"
                           href="{{ path('recipe.edit', {id: recipe.id}) }}">Edit</a>
                        <a class="btn btn-outline-danger"
                           href="{{ path('recipe.delete_form', {id: recipe.id}) }}">Delete</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% set totalPages = (totalRecipes / 10) | round(0, 'ceil') %}
    <div class="d-flex gap-4 justify-content-center">
        {% for page in 1..totalPages %}
            {% if page == app.request.query.get('page', 1) %}
                <span class="btn btn-outline-primary active">{{ page }}</span>
            {% else %}
                <a class="btn btn-outline-primary"
                   href="{{ path('recipe.index', {page: page}) }}">{{ page }}</a>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}